<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/hostel"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hostel"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hrbs"
        tools:targetApi="31">
        <activity
            android:name=".diamond"
            android:exported="false" />
        <activity
            android:name=".bookdiamond"
            android:exported="true" />
        <activity
            android:name=".bookruby"
            android:exported="true" />
        <activity
            android:name=".bookcoral"
            android:exported="true" />
        <activity
            android:name=".bookpearl"
            android:exported="true" />
        <activity
            android:name=".bookemerald"
            android:exported="true" />
        <activity
            android:name=".FoodIssues"
            android:exported="false" />
        <activity
            android:name=".OtherIssues"
            android:exported="false" />
        <activity
            android:name=".ToiletIssues"
            android:exported="false" />
        <activity
            android:name=".RoomIssues"
            android:exported="true" />
        <activity
            android:name=".hostelIssue"
            android:exported="true" />
        <activity
            android:name=".Issues"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".ruby"
            android:exported="false" />
        <activity
            android:name=".pearl"
            android:exported="false" />
        <activity
            android:name=".coral"
            android:exported="false" />
        <activity
            android:name=".emerald"
            android:exported="false" />
        <activity
            android:name=".sapphire"
            android:exported="false" />
        <activity
            android:name=".loginactivity"
            android:exported="false" />
        <activity
            android:name=".signupupactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".booksapphire"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <service android:name=".MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>